In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
from sklearn.model_selection import train_test_split,cross_val_score
from sklearn.tree import DecisionTreeClassifier

from sklearn.metrics import accuracy_score

from sklearn.compose import ColumnTransformer

In [3]:
df = pd.read_csv("(Titanic)train.csv")[['Age','Fare','SibSp','Parch','Survived']]

In [4]:
df.dropna(inplace=True)

In [5]:
df.shape

(714, 5)

In [6]:
df['Family'] = df['SibSp'] + df['Parch']

In [7]:
df.drop(columns=['SibSp','Parch'],inplace=True)

In [8]:
df.sample(6)

      Age     Fare  Survived  Family
499  24.0   7.7958         0       0
165   9.0  20.5250         1       2
403  28.0  15.8500         0       1
22   15.0   8.0292         1       0
819  10.0  27.9000         0       5
770  24.0   9.5000         0       0

In [9]:
df.isnull().sum()

Age         0
Fare        0
Survived    0
Family      0
dtype: int64

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 714 entries, 0 to 890
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Age       714 non-null    float64
 1   Fare      714 non-null    float64
 2   Survived  714 non-null    int64
 3   Family    714 non-null    int64
dtypes: float64(2), int64(2)
memory usage: 27.9 KB

In [11]:
X = df.drop(columns=['Survived'])
y=df['Survived']

In [12]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [13]:
X_train.sample(5)

      Age     Fare  Family
151  22.0  66.6000       1
866  27.0  13.8583       1
791  16.0  26.0000       0
275  63.0  77.9583       1
623  21.0   7.8542       0

In [14]:
clf = DecisionTreeClassifier()

clf.fit(X_train,y_train)

y_pred= clf.predict(X_test)

accuracy_score(y_test,y_pred)

0.6223776223776224

In [15]:
np.mean(cross_val_score(clf,X,y,cv=10,scoring="accuracy"))

0.6583528951486697

In [16]:
from sklearn.preprocessing import Binarizer

In [17]:
trf =ColumnTransformer([('bin',Binarizer(copy=False),['Family'])],
                      remainder ='passthrough')

In [18]:
x_train_trf = trf.fit_transform(X_train)
x_test_trf = trf.transform(X_test)

In [19]:
pd.DataFrame(X_train,columns=['Age','Fare','Family'])

      Age      Fare  Family
328  31.0   20.5250       2
73   26.0   14.4542       1
253  30.0   16.1000       1
719  33.0    7.7750       0
666  25.0   13.0000       0
..    ...       ...     ...
92   46.0   61.1750       1
134  25.0   13.0000       0
337  41.0  134.5000       0
548  33.0   20.5250       2
130  33.0    7.8958       0

[571 rows x 3 columns]

In [21]:
clf.fit(x_train_trf,y_train)
y_pred2 = clf.predict(x_test_trf)

print("accuaracy_score of DT:",accuracy_score(y_test,y_pred2))

accuaracy_score of DT: 0.6083916083916084

In [22]:
X_trf =trf.fit_transform(X)
np.mean(cross_val_score(clf,X,y,cv=10,scoring="accuracy"))

0.6513693270735524